In [10]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel('../Explore_Data/Data/Student Grades.xlsx')

In [8]:
df[df.Grade > 100]

   Student                      Class       Year  Grade
60    Ella  Exploratory Data Analysis  Sophomore  200.0

In [15]:
df.Class.value_counts()

Class
Intro to Python              26
Exploratory Data Analysis    25
Intro to SQL                 20
Freshman Seminar             12
Name: count, dtype: int64

In [12]:
df.Class = np.where(df.Class == 'EDA', 'Exploratory Data Analysis', df.Class)
df.Class

0              Freshman Seminar
1              Freshman Seminar
2              Freshman Seminar
3              Freshman Seminar
4              Freshman Seminar
                ...
81                          NaN
82                          NaN
83    Exploratory Data Analysis
84    Exploratory Data Analysis
85                          NaN
Name: Class, Length: 86, dtype: object

In [14]:
df.Class = np.where(df.Class == 'Python', 'Intro to Python', df.Class)
df.Class

0              Freshman Seminar
1              Freshman Seminar
2              Freshman Seminar
3              Freshman Seminar
4              Freshman Seminar
                ...
81                          NaN
82                          NaN
83    Exploratory Data Analysis
84    Exploratory Data Analysis
85                          NaN
Name: Class, Length: 86, dtype: object

In [16]:
df.Grade = np.where(df.Grade > 100, 100, df.Grade)
df.Grade

0      86.0
1      86.0
2      86.0
3      87.0
4      90.0
      ...
81      NaN
82      NaN
83     84.0
84      NaN
85    100.0
Name: Grade, Length: 86, dtype: float64

In [17]:
df.Grade.describe()

count     82.000000
mean      84.487805
std        8.991414
min       45.000000
25%       81.000000
50%       85.000000
75%       90.000000
max      100.000000
Name: Grade, dtype: float64